<%layout('layouts/boilerplate.ejs')%>

<div id="cluster-map"></div>
    <main role="main">
      <div class="album py-5">
        <div class="container">

          <div class="row">

        <%for(let cg of campgrounds){%>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <%if(cg.images.length) {%>
                        <img class="card-img-top" src="<%=cg.images[0].index%>" alt="">
                    <% }else {%>
                        <img class="card-img-top" alt=""
                        src="https://res.cloudinary.com/esjiwanders/image/upload/c_thumb,g_center,h_270,w_400/v1624991822/Wander/cebe1kixuv7uyi6cfqxi.png">
                    <% } %>

                    <div class="card-body">
                            <p><%= cg.title%> </p>
                            <p class="card-text"><%= cg.description%> </p>
                            <a class="btn btn-sm btn-primary" href=<%=`/campgrounds/${cg.id}`%> >View</a>
                    </div>
                </div>
            </div>
        <%}%>

          </div>
        </div>
      </div>

    </main>

 <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/javascripts/cluster.js"></script>

<!-- <script> 
    const addsearch = document.querySelector('.addsearch');
    addsearch.innerText = `<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark" type="submit">Search</button>`
</script> -->